{
  "openapi": "3.0.3",
  "info": {
    "title": "He Didn't Jump — public archive surfaces",
    "description": "Read-only discovery OpenAPI for the Marion Zioncheck static archive on hedidntjump.com. No local MCP. Live origin: Cloudflare Pages project hedidntjump (docs/). Aziel Runtime MCP 2.0.0-rc1 (Try on Glama): https://glama.ai/mcp/servers/AzielEliab/aziel-runtime",
    "version": "1.0.0",
    "contact": {
      "name": "Aziel Eliab",
      "url": "https://www.azieleliab.com/"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.hedidntjump.com"
    },
    {
      "url": "https://hedidntjump.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Main broadsheet edition",
        "responses": {
          "200": {
            "description": "HTML newspaper"
          }
        }
      }
    },
    "/Case": {
      "get": {
        "summary": "Case edition",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Press": {
      "get": {
        "summary": "Press tip + social directory",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Inquiries": {
      "get": {
        "summary": "Inquiries of the Record 1–23",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Rubye": {
      "get": {
        "summary": "Rubye paper",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Archives": {
      "get": {
        "summary": "Archives edition",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/FOIA": {
      "get": {
        "summary": "FOIA paper",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Volumes": {
      "get": {
        "summary": "Volumes edition landing (five purpose cards)",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/reader": {
      "get": {
        "summary": "In-site facsimile volume reader",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/volumes.html": {
      "get": {
        "summary": "Volumes edition HTML file",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Narrative": {
      "get": {
        "summary": "Official Narrative edition",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/AboutAziel": {
      "get": {
        "summary": "About Aziel / project",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/Copyrights": {
      "get": {
        "summary": "Copyrights notice",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/receipts": {
      "get": {
        "summary": "Aziel-page-only receipts + INGEST-AS-RECEIPT + CROSS-NETWORK-SURVIVAL-1.0 + NO-LIE / NO-REWRITE (not paper-tabs Pg.11)",
        "responses": {
          "200": {
            "description": "HTML"
          }
        }
      }
    },
    "/ingest-as-receipt.json": {
      "get": {
        "summary": "Canonical ingest-as-receipt bytes (SHA-256 tip). Author Aziel Eliab only.",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "LLM brief",
        "responses": {
          "200": {
            "description": "text/plain"
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Longer LLM inventory",
        "responses": {
          "200": {
            "description": "text/plain"
          }
        }
      }
    },
    "/ai.txt": {
      "get": {
        "summary": "AI crawl aid",
        "responses": {
          "200": {
            "description": "text/plain"
          }
        }
      }
    },
    "/cite.json": {
      "get": {
        "summary": "Person/sameAs citation lattice",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This OpenAPI document",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "URL sitemap",
        "responses": {
          "200": {
            "description": "application/xml"
          }
        }
      }
    },
    "/robots.txt": {
      "get": {
        "summary": "Robots + Content-Signal",
        "responses": {
          "200": {
            "description": "text/plain"
          }
        }
      }
    },
    "/volumes/volume-1.pdf": {
      "get": {
        "summary": "Volume I PDF",
        "responses": {
          "200": {
            "description": "application/pdf"
          }
        }
      }
    },
    "/volumes/volume-2.pdf": {
      "get": {
        "summary": "Volume II PDF",
        "responses": {
          "200": {
            "description": "application/pdf"
          }
        }
      }
    },
    "/volumes/volume-3.pdf": {
      "get": {
        "summary": "Volume III PDF",
        "responses": {
          "200": {
            "description": "application/pdf"
          }
        }
      }
    },
    "/volumes/volume-4.pdf": {
      "get": {
        "summary": "Volume IV PDF",
        "responses": {
          "200": {
            "description": "application/pdf"
          }
        }
      }
    },
    "/volumes/volume-5.pdf": {
      "get": {
        "summary": "Volume V PDF",
        "responses": {
          "200": {
            "description": "application/pdf"
          }
        }
      }
    },
    "/aziel": {
      "get": {
        "summary": "About Aziel — living author (aziel.html, canonical /aziel)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/AzielEliab": {
      "get": {
        "summary": "200 rewrite to aziel.html — not a second About body",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/who": {
      "get": {
        "summary": "Who is Aziel Eliab — visible HTML lock (H1 + 1 Chronicles 15:20)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/who-is-aziel-eliab.txt": {
      "get": {
        "summary": "Who is Aziel Eliab — plain-text identity lock",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/person.jsonld": {
      "get": {
        "summary": "Person JSON-LD (shared @id https://www.azieleliab.com/#aziel)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/shelves": {
      "get": {
        "summary": "COLD-MULTI-SHELF-1.0 registry (sister cite of live corpus /shelves)",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/shelves.json": {
      "get": {
        "summary": "Same COLD-MULTI-SHELF-1.0 bytes as /shelves",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/v1/shelves": {
      "get": {
        "summary": "Alias of /shelves",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/cold-copy": {
      "get": {
        "summary": "Alias of /shelves",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/lockset.json": {
      "get": {
        "summary": "Sister-host cite of AZLOCK-INGEST-REEXPAND-1.0 (doi null)",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/redline": {
      "get": {
        "summary": "REDLINE-1.0 doors/refuse cite (FragGate single door; Plane B ALL-TARGETS)",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/redline.json": {
      "get": {
        "summary": "Same REDLINE-1.0 bytes as /redline",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/runtime-launch.json": {
      "get": {
        "summary": "Softwares+runtime launch cite (aziel-runtime 2.0.0-rc1 SoT; not a Softwares clone; never )",
        "responses": {
          "200": {
            "description": "application/json"
          }
        }
      }
    },
    "/who-is": {
      "get": {
        "summary": "Who is Aziel Eliab — plain-text identity lock (alias of /who-is-aziel-eliab.txt)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/graph.jsonld": {
      "get": {
        "summary": "Machine graph (Marion Person + FAQ + publisher lattice)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/identity.jsonld": {
      "get": {
        "summary": "Identity JSON-LD (shared Person @id https://www.azieleliab.com/#aziel)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/mcp.json": {
      "get": {
        "summary": "Honest MCP pointer — aziel-runtime on Glama; no local tools/list",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/mcp.json": {
      "get": {
        "summary": "Same honest MCP pointer as /mcp.json",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/aziel.json": {
      "get": {
        "summary": "Hub identity discovery card",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/.well-known/llms.txt": {
      "get": {
        "summary": "200 rewrite to /llms.txt (LLM crawler well-known)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sitemap-index.xml": {
      "get": {
        "summary": "Cross-site sitemap index",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/volumes.json": {
      "get": {
        "summary": "Volume metadata (facsimile page counts / titles)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/inquires": {
      "get": {
        "summary": "Typo alias of /Inquiries (200 rewrite to inquiries.html)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Aziel": {
      "get": {
        "summary": "200 rewrite to aziel.html — not a second About body",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
